.location-details{
    text-align: left;
}

.single-venue .location{
    margin: 0px;
    word-wrap: break-word;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.125em;
    color: #484848;
    padding-top: 6px;
    padding-bottom: 6px;
}

.single-venue .location-details{
    margin-top: 30px;
}

.single-venue .right-details{
    border: 1px solid #e4e4e4;
    padding: 15px;
}

.right-details .price-per-day{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.44444em;
    color: rgb(72, 72, 72);
    margin: 0px;   
}


.location-details .left-details .title{
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
    margin-bottom: 20px;
}

.single-venue .divider{
    margin: 10px 0;
}

.location-details .left-details .guests{
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
}

.right-details .price-per-day span{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33333em;
    color: rgb(72, 72, 72);
    margin: 0px;
}
.right-details{
    padding:30px;

}
.right-details .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.right-details .btn{
    width:100%;
    background-color:rgb(243, 66, 66);
}

.point-title{
    font-weight: bold;
    font-size:16px;
}

.point-desc{
    margin-bottom: 20px;
    font-size:15px
}

.right-details .star{
    color:red;
}
.right-details .inp{
    margin:12px 2px;
}
.right-details .check-in-container{
    display: flex;
    align-items: center;
}
.right-details .align-icon{
    margin-top: 2px;
    margin-left: 4px;
}
